@mixin l-container
{
  margin: 0 unit(50);

  @include query (sm)
  {
    max-width: $screen-sm;
    margin: 0 auto;
  }

  @include query (md)
  {
    max-width: $screen-md;
  }

  @include query (lg)
  {
    max-width: $screen-lg;
  }

  @include query (xl)
  {
    max-width: $screen-xl;
  }
}

@mixin l-section
{
  margin-top: unit(100);
  margin-bottom: unit(100);

  @include query (sm)
  {
    margin-top: unit(200);
    margin-bottom: unit(200);
  }

  @include query (lg)
  {
    margin-top: unit(300);
    margin-bottom: unit(300);
  }
}
